@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --primary-color: #8758ff;
}
* {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#heading{
    color: white;
}

.container{
    position: relative;
    height: 465px;
    width: 450px;
    background-color: #1A1A40;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    border: 1px solid #1A1A40;
    border-radius: 5px;
    padding: 2rem 1.5rem;
}

.form-container{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

input[type="text"]{
    width: calc(100% - 95px);
    background-color: #1A1A40;
    border: 1px solid #8758ff;
    color: white;
    padding: 0.5rem 1rem;
}

input[type="text"]:focus{
    outline: none;
}

.add-btn{
    background-color: #8758ff;
    color: white;
    cursor: pointer;
    padding: .5rem 1rem;
    border: 1px solid #8758ff
}

.list-items{
    width: 100%;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-top: 0.5rem;
    overflow-y:scroll;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.list-items::-webkit-scrollbar{
    appearance: none;
}

.tasks{
    border: 1px solid #8758ff;
    background-color: #8758ff;
    color: white;
    border-radius: 3px;
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    cursor: pointer;
}

.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.edit-icon, .trash{
    color: white;
    cursor: pointer;
}

.edit-icon:hover, .trash:hover{
    color: red;
    transition: all 0.5s;
}

.zero-task{
    margin: auto;
    color: white;
    font-size: 30px;
    filter: grayscale(80%);
    user-select: none;
    text-shadow: 2px 2px gray;
}

.completed{
    color: #c5aeff;
    text-decoration: line-through;
}

@media (max-width: 465px){
    .container{
        width: 340px;
    }
}

