*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    /* border: 2px solid red; */
}

.container{
    width: 400px;
    margin: auto;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}