*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    width: 100vw;
    padding: 20px 10px;
}

.container{
    width: 100%;
    border: 1px solid blue;
    border-radius: 10px;
    padding: 20px ;
}

.container h1{
    text-align: center;
}

.guide{
    margin: 40px 0;
    padding-left: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.form-container{
    width: 90%;
    height: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr auto;
    gap: 30px;
}

.form-container button{
    height: 30px !important;
    padding: 0 10px;
    background-color: green;
    color: white;
    border-radius: 5px;
    border: none;
}

.form-container select, input{
    border-radius: 5px;
    padding-left: 10px;
}

.form-container > select{
    appearance: none;
}

.form-container button:hover{
    cursor: pointer;
}

table{
    border-collapse: collapse;
}

.table-container{
    width: 100%;
    margin-top: 20px;
}

tr, td, th{
    border: 1px solid black;
    padding: 10px;
}

th{
    text-align: start;
}

.no-items-list{
    text-align: center;
}

.list-items{
    background-color: gray;
    text-align: end !important;
}

.added-list-items{
    text-align: end !important;
}